@import url('https://fonts.cdnfonts.com/css/raleway-5');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --accent: #C0A2DA;
    --bg-main: #171717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /*background: #050606 url("./public/maze-black.png");*/
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

#wrapper {
    background: #6e4592 url(https://i.imgur.com/nZ5QgnV.jpeg) fixed center/cover;
    background-blend-mode: multiply;
}

.flex, section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

section {
    width: calc(100% - 30rem);
    margin: 0 auto;
    position: relative;
    flex-direction: column;
}

section > .flex {
    height: 100%;
    flex-direction: column;
}

.hidden {
    opacity: 0;
    filter: blur(3px);
    left: -10rem;
    transition: all 1.4s;
}

.show {
    opacity: 1;
    filter: blur(0);
    left: 0;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

h1 {
    font-weight: 800;
    font-size: 7.7em;
    line-height: 1em;
    letter-spacing: -.05em;
    text-shadow: 3px 2px 3px #000;
}

h2 {
    width: 6.6em;
    padding: 2px 20px;
    margin-bottom: .25em;
    font-size: 5.3em;
    line-height: 1.2em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .03em;
    border: 3px solid;
    font-family: 'Raleway', sans-serif;
}

h3 {
    margin: 3rem 0 1rem;
    font-weight: 900;
    font-size: 5.5em;
}

h3 i {
    padding-right: 3rem;
}

h4 {
    margin: 2rem 0 .2rem;
    font-weight: 800;
    font-size: 2.5em;
}

h5 {
    margin-bottom: 3rem;
    font-weight: 200;
    font-size: 1.5em;
}

label {
    display: block;
    margin: .5rem;
    font-weight: 700;
    font-size: 1.2em;
}

input, textarea {
    padding: .7rem;
    border: 1px solid #ffffff42;
}

input[type=submit] {
    padding: .5rem .7rem;
    background: #dadada;
    color: #000;
    font-weight: 800;
}

#sidebar, #navbar {
    position: fixed;
    z-index: 50;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

#sidebar {
    top: 2.5rem;
    bottom: 2.5rem;
    left: 2.5rem;
    gap: 2.5rem;
    flex-direction: column;
}

#logo + div {
    width: 1px;
    flex-grow: 1;
    background: #ffffff26;
}

.socials {
    flex-direction: column;
    gap: .6rem;
    font-size: 1.5rem;
}

#navbar {
    top: 0;
    right: 0;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0.625rem 2.5rem;
}

#logo {
    font-weight: 300;
    letter-spacing: -.08em;
}

#landing {
    height: 100vh;
}

#landing p {
    width: 35em;
    text-align: justify;
}

#landing img {
    width: 30rem;
}

#landing ul {
    width: 100%;
    padding: 1.25em 0;
}

#landing li {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .4rem;
    animation: floating 5s linear infinite;
}

#landing li:nth-child(even) {
    animation-delay: .3s;
}

#landing li i {
    font-size: 2em;
}

#projects img {
    max-width: 100%;
}

#contact form {
    width: 20%;
    margin: 0 auto;
}

#contact form > div {
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"] {
    width: 100%;
}

#contact textarea {
    width: 100%;
    min-height: 200px;
}

#footer {
    padding: 5em 0;
}